html {
  font-family: "Roboto", sans-serif;
}
.navbar {
  position: relative;
  z-index: 50;
}
iframe {
  width: 150%;
  height: 150%;
  aspect-ratio: 16/9;
}
.introduction {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      /* Gelap */ rgba(0, 0, 0, 0.6) /* Gelap */
    ),
    url("../img/main.jpg");
  background-size: cover;
}
.about-service {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      /* Gelap */ rgba(0, 0, 0, 0.6) /* Gelap */
    ),
    url("../img/1\ \(1\).jpg");
  background-size: cover;
  width: 100%;
  aspect-ratio: 16/7;
}
.about-service img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.logo {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  width: 200px;
  height: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.brand-logo {
  width: 60px; /* Adjust as needed */
  height: auto;
  margin: 10px;
}
.team-photo {
  width: 100%; /* Adjust to fit the container */
  aspect-ratio: 16/9;
  object-fit: cover;;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.testimonials {
  padding: 40px 20px;
  background-color: #f8f9fa;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.swiper-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex: 0 0 auto; /* Pastikan slide tidak menyusut */
}
.testimonial-content {
  max-width: 600px;
  text-align: center;
}
.testimonial-text {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.testimonial-author {
  font-size: 1rem;
  margin-bottom: 10px;
}
.testimonial-rating {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.star {
  color: gold;
  margin: 0 2px;
}
.star-inactive {
  color: #ddd;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.swiper-button-next {
  right: 10px;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-pagination {
  bottom: 10px;
}
.gallery img {
  height: 200px;
  object-fit: cover; /* Maintains aspect ratio and fills container */
}